extends layout

block content
  main
    section#intro-text
      span Simple Kitchen
      h3 Registration form

      - data = data || {}

      if errors && errors.length
        ul.my-errors
          each error in errors
            li.error-box !{error.msg}

      form(action="/register" method="POST" class="form-registration")
        label(for="name") Name:
        input(type="text" id="name" name="name" value=data.name)

        label(for="email") Email:
        input(type="email" id="email" name="email" value=data.email)

        input(type="submit" value="Submit" class="btn btn-lg btn-primary btn-block")
