extends layout

block content
  main
    // left grey card (like slide)
    section#intro-text.register-left
      span Simple Kitchen
      p Simple & Comforting
      p Recipes All Year Round

    // right side form
    section.register-right
      h3 Register to subscribe

      - data = data || {}

      if errors && errors.length
        ul.my-errors
          each error in errors
            li.error-box !{error.msg}

      form(action="/register" method="POST" class="form-registration")
        label(for="name") Name:
        input(type="text" id="name" name="name" value=data.name)

        label(for="email") Email:
        input(type="email" id="email" name="email" value=data.email)

        label(for="username") Username:
        input(type="text" id="username" name="username" value=data.username)

        label(for="password") Password:
        input(type="password" id="password" name="password")

        input(type="submit" value="Register" class="submit-buttton")
